extends layout

block javascripts
  script(src='/javascripts/detail.js')

block css
  link(rel='stylesheet', href='/stylesheets/detail.layout.css')
  link(rel='stylesheet', href='/stylesheets/detail.style.css')

block content
  #content
    ul
      li: .list-item.button(onclick='play("' + id + '")') play
      li: .list-item.button(onclick='pause()') pause
