extends layout

block javascripts
  script(src='http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js')
  script(src='/javascripts/player.js')
  script
    var ytplayer;

    function onYouTubePlayerReady (playerId) {
      ytplayer = document.getElementById("myytplayer");
    };


block css
  link(rel='stylesheet', href='/stylesheets/player.layout.css')
  link(rel='stylesheet', href='/stylesheets/player.style.css')

block header

block content
  #content
    #ytapiplayer
      p waiting for video...
