extends layout

block javascripts
  script(src='/javascripts/rc.js')

block css
  link(rel='stylesheet', href='/stylesheets/rc.layout.css')
  link(rel='stylesheet', href='/stylesheets/rc.style.css')

block content
  #content
    #search
      input#searchinput(type='text', onkeypress='search(this, event)',
        placeholder='escribe aquí para buscar videos!')
    #results
