extends layout

block javascripts
  script(src='/javascripts/rc_detail.js')

block css
  link(rel='stylesheet', href='/stylesheets/rc_detail.layout.css')
  link(rel='stylesheet', href='/stylesheets/rc_detail.style.css')

block content
  #content
    ul
      li: .list-item(onclick='play("' + id + '")') Play
      li: .list-item(onclick='pause()') Pause
