extends layout

block javascripts
  script(src='/javascripts/search.js')

block css
  link(rel='stylesheet', href='/stylesheets/search.layout.css')
  link(rel='stylesheet', href='/stylesheets/search.style.css')

block content
  #content
    #search
      form(data-bind='submit: search')
        input#searchinput(data-bind='value: terms, valueUpdate: "afterkeydown"',
          placeholder='looking for videos? write here!')
    #results
      ul(data-bind='template: { name: "result", foreach: results }')
      script#result(type='text/html')
        li
          .list-item: a(data-bind='attr: {href: url}')
            .thumb: img(data-bind='attr: {src: thumb}')
            .stats
              ul
                li.title(data-bind='text: title')
                li(data-bind='text:seconds')
            .clear
      #listFooter(data-bind='template: { name: "moreData", if: moreData }')
      script#moreData(type='text/html')
        a(data-bind='click: getResults')
          .list-item.button more results
