extends layout

block javascripts
  script(src='/javascripts/tv.js')

block css
  link(rel='stylesheet', href='/stylesheets/tv.layout.css')
  link(rel='stylesheet', href='/stylesheets/tv.style.css')

block header

block content
  #content
    p esperando video...
