.list-item
  padding 10px 10px 5px
  background-color: #0bf
  color white
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif
  padding 10px
  padding-left 30px

.button
  font-weight bold
  text-align center
