.list-item {
  padding: 10px 10px 5px;
}
#search {
  margin-top: 5px;
  color: #fff;
  background-color: #0bb;
  padding: 10px;
  border-radius: 10px;
}
#searchinput {
  background-color: #0bb;
  color: #fff;
  border: 0;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  font-style: italic;
  width: 95%;
}
::-webkit-input-placeholder {
  color: #fff;
}
:-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}
