body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a:link,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-item {
  background-color: #0bf;
  color: #fff;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px 30px;
}
#header {
  background-color: #fb0;
  border-radius: 10px;
  color: #fff;
  padding: 10px 30px;
}
