body
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color white

a:link, a:visited, a:active
  text-decoration none

a:hover
  text-decoration underline

ul
  list-style-type none
  padding 0
  margin 0

.list-item
  background-color #0bf
  color white
  border-radius 10px
  margin-top 5px
  padding 10px 30px

.button
  font-weight bold
  text-align center

#header
  background-color #fb0
  border-radius 10px
  border 1px solid white
  color white
  padding-left 30px

#breadcrumb
  background-color white
  float right
  padding 0 0 4px 4px

.crumb
  font-weight bold
  float left
  background-color #fb0
  color white
  padding 10px

.last
  border-radius 0 10px 0 0
  padding-right 20px


.separator
  float left
  .head
    float: left
    width 0
    height 0
    border-top 20px solid transparent
    border-bottom 20px solid transparent
    border-left 10px solid #fb0
  .tail
    margin-left 5px
    width 0
    height 0
    border-top 20px solid #fb0
    border-bottom 20px solid #fb0
    border-left 10px solid transparent

.clear
  clear both
