body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #0bf;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
.list-item {
  margin-top: 5px;
  padding: 10px;
  background-color: #eee;
}
