<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0;">
    <link rel="stylesheet" href="rc.layout.css">
    <link rel="stylesheet" href="rc.style.css">
    <title>ytv - remote controller</title>
  </head>
  <body>
    <input type="text" id="searchInput"
      onkeypress="handleEnter(this, event)" />
    <button onclick="alert('foo')">go!</button>
    <div id="results"></div>
    <script type="text/javascript" src="rc.js"></script>
  </body>
</html>
